name: CI/CD

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: yarn

    - name: install gh pages separately  
      run: npm install gh-pages react@18.2.0 react-dom@18.2.0

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1

    - name: Lint
      run: npm run format-check

    - name: Cypress run
      uses: cypress-io/github-action@v6
      with:
        build: npm run build
        start: npm start

    - name: Build
      run: npm run react-build
